#root {
  margin: 0 auto;
  background-color: #fffdf3;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Bg hero image and newsletter */
  .hero-bg {
    background-image: url("/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .newsletter-bg {
    background-image: url("/newsletter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* responsive width size */
}
